@media only screen and (max-width: 600px) {
    .header-content > div.greeting {
        font-size: 2.5em;
    }
    .header-content > div.subgreeting {
        font-size: 1em !important;
    }
    .bottom { 
        display: block;
        height: inherit; width: inherit;
    }
    
    .midlinks {
        display: block;
        position: absolute;
        margin: 0;
        bottom: 3px; right: 0;
    }
    
    div.left {
        position: relative;
        width: 100%; height: 100%;
    }
    div.right {
        width: 100%; height: 100%;
    }
}